<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="1b79b0f7-7958-4d14-b98c-66a370fea6ec" activeEnvironment="Default" name="spring-soap-service-soap-ui" resourceRoot="" soapui-version="5.6.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties/><con:wssContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/></con:soapui-project>